body, html {
  width: 100%;
  height: 100%;
}

body {
  --tileSize: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  border: 4px solid gray;
  width: calc(4 * var(--tileSize)  + 8px);
  height: calc(4 * var(--tileSize) + 8px);
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.tile {
  border: 1px solid #546a80;
  box-sizing: border-box;
  height: var(--tileSize);
  width: var(--tileSize);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--tileSize) / 2);
  font-weight: bold;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #4CAF50;
}


.btn {
  display: block;
  padding: 4px;
  background-color: #1c8079;
  box-sizing: border-box;
  margin-bottom: 4px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.btn:active {
  box-shadow: inset 2px 2px 6px 1px #035650;
}

.btn[disabled] {
  background-color: gray;
}
.btn[disabled]:active {
  box-shadow: none;
}

.actionBtns {
  display: flex;
  justify-content: space-between;
}
.actionBtns .btn {
  width: calc(25% - 2px);
}