body {
  --tileSize: 25px;
}

.field {
  border: 4px solid gray;
  width: calc(4 * var(--tileSize)  + 8px);
  height: calc(4 * var(--tileSize) + 8px);
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.tile {
  border: 1px solid #546a80;
  box-sizing: border-box;
  height: var(--tileSize);
  width: var(--tileSize);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--tileSize) / 2);
  font-weight: bold;
}